.ticket {
  background-color: mintcream;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0 1rem;
  .label {
    background-color: mistyrose;
    border-radius: 10%;
    font-size: 0.75rem;
    margin: 0.5rem 0.5rem 0.25rem 0;
    padding: 0.25rem;
    text-align: center;
    width: 45%;
  }
  .task {
    margin: 0 0 0.5rem;
  }
  .comments {
    display: flex;
  }
}